<?xml version="1.0"?>
<config>
    <modules>
        <EasyNolo_BancaSellaPro>
            <version>1.4.6</version>
        </EasyNolo_BancaSellaPro>
    </modules>
    <global>
        <blocks>
            <easynolo_bancasellapro>
                <class>EasyNolo_BancaSellaPro_Block</class>
            </easynolo_bancasellapro>
        </blocks>
        <helpers>
            <easynolo_bancasellapro>
                <class>EasyNolo_BancaSellaPro_Helper</class>
            </easynolo_bancasellapro>
        </helpers>
        <models>
            <easynolo_bancasellapro>
                <class>EasyNolo_BancaSellaPro_Model</class>
                <resourceModel>easynolo_bancasellapro_resource</resourceModel>
            </easynolo_bancasellapro>

            <easynolo_bancasellapro_resource>
                <class>EasyNolo_BancaSellaPro_Model_Resource</class>
                <entities>
                    <token>
                        <table>easynolo_bancasellapro_token</table>
                    </token>
                    <pc_finger_print>
                        <table>easynolo_bancasellapro_finger_print</table>
                    </pc_finger_print>
                </entities>
            </easynolo_bancasellapro_resource>
            <sales>
                <rewrite>
                    <recurring_profile>EasyNolo_BancaSellaPro_Model_Sales_Recurring_Profile</recurring_profile>
                </rewrite>
            </sales>
        </models>
        <sales>
            <order>
                <statuses>
                    <red_deny translate="label">
                        <label>RED - Deny</label>
                    </red_deny>
                    <red_challenge translate="label">
                        <label>RED - Challenge</label>
                    </red_challenge>
                    <riskified_declined translate="label">
                        <label>Riskified - Declined</label>
                    </riskified_declined>
                    <riskified_submitted translate="label">
                        <label>Riskified - Submitted</label>
                    </riskified_submitted>
                </statuses>
                <states>
                    <pending_payment translate="label">
                        <label>Pending Payment</label>
                        <statuses>
                            <pending_payment default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                    <payment_review translate="label">
                        <label>Payment Review</label>
                        <statuses>
                            <payment_review default="1"/>
                            <fraud/>
                            <red_deny/>
                            <red_challenge/>
                            <riskified_declined/>
                            <riskified_submitted/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </payment_review>
                </states>
            </order>
        </sales>
        <resources>
            <easynolo_bancasellapro_setup>
                <setup>
                    <module>EasyNolo_BancaSellaPro</module>
                </setup>
            </easynolo_bancasellapro_setup>
        </resources>
        <gestpaypro>
            <alternative_payments>
                <alipay>
                    <title>Alipay</title>
                    <type>S2PALI</type>
                    <template>default.phtml</template>
                </alipay>
                <bitcoin>
                    <title>Bitcoin</title>
                    <type>S2PBIT</type>
                    <template>default.phtml</template>
                </bitcoin>
                <consel>
                    <title>Consel</title>
                    <type>CONSEL</type>
                    <template>default.phtml</template>
                </consel>
                <eps>
                    <title>EPS</title>
                    <type>S2PALI</type>
                    <template>default.phtml</template>
                </eps>
                <giropay>
                    <title>Giropay</title>
                    <type>S2PGIR</type>
                    <template>default.phtml</template>
                </giropay>
                <mybank>
                    <title>MyBank</title>
                    <encrypt_helper>easynolo_bancasellapro/alternativePayments_mybank</encrypt_helper>
                    <type>MYBANK</type>
                </mybank>
                <ideal>
                    <title>IDeal</title>
                    <type>IDEAL</type>
                    <encrypt_helper>easynolo_bancasellapro/alternativePayments_ideal</encrypt_helper>
                    <template>default.phtml</template>
                </ideal>
                <klarna>
                    <title>Klarna</title>
                    <type>S2PKLA</type>
                    <encrypt_helper>easynolo_bancasellapro/alternativePayments_klarna</encrypt_helper>
                    <template>klarna.phtml</template>
                </klarna>
                <konbini>
                    <title>Konbini</title>
                    <type>S2PKON</type>
                    <template>default.phtml</template>
                </konbini>
                <mercadopago>
                    <title>MercadoPago</title>
                    <type>S2PMER</type>
                    <template>default.phtml</template>
                </mercadopago>
                <multibanco>
                    <title>Multibanco</title>
                    <type>S2PMUL</type>
                    <template>default.phtml</template>
                </multibanco>
                <paypal>
                    <title>Paypal</title>
                    <type>PAYPAL</type>
                    <encrypt_helper>easynolo_bancasellapro/alternativePayments_paypal</encrypt_helper>
                    <template>default.phtml</template>
                </paypal>
                <paysafecard>
                    <title>Paysafecard</title>
                    <type>S2PPSC</type>
                    <template>default.phtml</template>
                </paysafecard>
                <qiwi>
                    <title>Qiwi</title>
                    <type>S2PQIW</type>
                    <template>default.phtml</template>
                </qiwi>
                <sofort>
                    <title>Sofort</title>
                    <type>SOFORT</type>
                    <template>default.phtml</template>
                </sofort>
                <tenpay>
                    <title>TenPay</title>
                    <type>S2PTEN</type>
                    <template>default.phtml</template>
                </tenpay>
                <timpersonal>
                    <title>TIMpersonal</title>
                    <type>TIMPERSONAL</type>
                    <template>default.phtml</template>
                </timpersonal>
                <unionpay>
                    <title>UnionPay</title>
                    <type>S2PUNI</type>
                    <template>default.phtml</template>
                </unionpay>
                <webmoney>
                    <title>WebMoney</title>
                    <type>S2PWMO</type>
                    <template>default.phtml</template>
                </webmoney>
                <yandex>
                    <title>Yandex</title>
                    <type>S2PYAN</type>
                    <template>default.phtml</template>
                </yandex>
            </alternative_payments>
        </gestpaypro>
    </global>

    <phpunit>
        <suite>
            <modules>
                <EasyNolo_BancaSellaPro />
            </modules>
        </suite>
    </phpunit>

    <frontend>
        <routers>
            <easynolo_bancasellapro>
                <use>standard</use>
                <args>
                    <module>EasyNolo_BancaSellaPro</module>
                    <frontName>bancasellapro</frontName>
                </args>
            </easynolo_bancasellapro>
            <opc>
                <args>
                    <modules>
                        <easynolo_bancasellapro before="IWD_Opc">EasyNolo_BancaSellaPro</easynolo_bancasellapro>
                    </modules>
                </args>
            </opc>
            <checkout>
                <args>
                    <modules>
                        <easynolo_bancasellapro before="Mage_Checkout_OnepageController">EasyNolo_BancaSellaPro_Checkout</easynolo_bancasellapro>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <easynolo_bancasellapro>
                    <file>easynolo_bancasellapro.xml</file>
                </easynolo_bancasellapro>
            </updates>
        </layout>
        <events>
            <easynolo_bancasellapro_gestpay_success_action>
                <observers>
                    <googleanalytics_order_success>
                        <class>googleanalytics/observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </googleanalytics_order_success>
                </observers>
            </easynolo_bancasellapro_gestpay_success_action>
            <iwd_opc_before_send_result_save_payment>
                <observers>
                    <easynolo_bancasellapro_add_result>
                        <class>easynolo_bancasellapro/observer</class>
                        <method>addDataToResultSavePaymentIWD</method>
                    </easynolo_bancasellapro_add_result>
                </observers>
            </iwd_opc_before_send_result_save_payment>
            <controller_action_postdispatch_checkout_onepage_saveOrder>
                <observers>
                    <easynolo_bancasellapro_add_result>
                        <class>easynolo_bancasellapro/observer</class>
                        <method>addDataToResultSaveOrderIframe</method>
                    </easynolo_bancasellapro_add_result>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveOrder>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <easynolo_bancasellapro_save_finger_print>
                        <class>easynolo_bancasellapro/observer</class>
                        <method>saveFingerPrint</method>
                    </easynolo_bancasellapro_save_finger_print>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <translate>
            <modules>
                <easynolo_bancasellapro>
                    <files>
                        <default>EasyNolo_BancaSellaPro.csv</default>
                    </files>
                </easynolo_bancasellapro>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <easynolo_bancasellapro_recurring_profile_charge>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>easynolo_bancasellapro/observer::chargeRecurringProfiles</model>
                </run>
            </easynolo_bancasellapro_recurring_profile_charge>
        </jobs>
    </crontab>
    <default>
        <payment>
            <gestpaypro>
                <active>0</active>
                <model>easynolo_bancasellapro/gestpay</model>
                <debug>0</debug>
                <log>0</log>
                <order_status>pending</order_status>
                <order_status_ko_user>canceled</order_status_ko_user>
                <order_status_ko_gestpay>holded</order_status_ko_gestpay>
                <order_status_ok_gestpay>processing</order_status_ok_gestpay>
                <order_status_fraud_gestpay>1</order_status_fraud_gestpay>
                <title>Banca Sella GestPay Pro</title>
                <description>You will be redirected to Banca Sella payment website</description>
                <iframe>0</iframe>
                <tokenization>0</tokenization>
                <tokenization_context>recurring_profile</tokenization_context>
                <allowspecific>0</allowspecific>
                <language>0</language>
                <currency>242</currency>
            </gestpaypro>
            <gestpaypro_red>
                <enable>0</enable>
                <deny_order_status>red_deny</deny_order_status>
                <challenge_order_status>red_challenge</challenge_order_status>
            </gestpaypro_red>
            <gestpaypro_riskified>
                <enable>0</enable>
                <declined_order_status>riskified_declined</declined_order_status>
                <submitted_order_status>riskified_submitted</submitted_order_status>
            </gestpaypro_riskified>
        </payment>
    </default>
</config>